<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="main.css">
    <title>Simple Interest Calculator</title>
</head>
<body>
    
<div id="calculator"><br>
<h1>Simple Interest Calculator</h1>
<h2>Principal</h2><input v-model="principal" placeholder="Enter Principal">
<h2>Rate</h2><input v-model="Rate" placeholder="Enter Rate">
<h2>Time</h2><input v-model="time" placeholder="Enter Time">


    <p>You will be paying ${{result}}</p>
    
</div>

    <!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./simpleInterest.js"></script>
</body>
</html>
